@import url("./reset.css");
@import url("./media-queries.css");


/*General Settings*/
body {
	background-color: #f9f9f9;
}
body *{
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	color: #1c1212;
}
/*Main Subnav Section*/
header.mainHeader {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1% 0 2%;
	border-top: 14px dashed #bd6462;
	border-bottom: 1px solid #bd6462;
	background-color: #cf6b69;
	opacity: .6;
	overflow: hidden;
	z-index: 2;
}

/*--Navigation Menu--*/
header.mainHeader div.mainHeader__nav {
	overflow: visible;
	display: block;
	width: 56%;
	float: left;
}

header.mainHeader div.mainHeader__nav nav.mainHeader__nav__menu{
	display: inline-block;
	float: left;
}

header.mainHeader div.mainHeader__nav nav.mainHeader__nav__menu ul.mainHeader__nav__menu__list {
	display: inline-block;
	position: relative;
}

header.mainHeader div.mainHeader__nav nav.mainHeader__nav__menu ul.mainHeader__nav__menu__list li.mainHeader__nav__menu__list__item {
	position: relative;
	float: left;
	padding: 4px 0;
	margin-right: 4px;
	border-right: 2px solid #bd6462;
}

header.mainHeader div.mainHeader__nav nav.mainHeader__nav__menu ul.mainHeader__nav__menu__list li.mainHeader__nav__menu__list__item--selected{
	font-weight: 700;
}

header.mainHeader div.mainHeader__nav nav.mainHeader__nav__menu ul.mainHeader__nav__menu__list li.mainHeader__nav__menu__list__item:last-child {
	border: 0 solid transparent;
	margin-right: 0;
}

header.mainHeader div.mainHeader__nav nav.mainHeader__nav__menu ul.mainHeader__nav__menu__list li.mainHeader__nav__menu__list__item a {
	padding: 0 10px;
	text-decoration: none;
	text-transform: capitalize;
}

header.mainHeader span {
	font-size: 1.2em;
	line-height: 10px;
}
header.mainHeader span.mainHeader__nav__title {
	float: left;
	padding: 4px 0;
	margin:0 4% 0 2%;
	font-style: italic;
}

header.mainHeader span.mainHeader__nav__title span.mainHeader__nav__title--bold {
	font-weight: 800;
	text-shadow: 2px 2px 3px #545050;
	color: #bd6462;
}

header.mainHeader div.mainHeader__nav nav.mainHeader__nav__menu ul.mainHeader__nav__menu__list li.mainHeader__nav__menu__list__item a, 
header.mainHeader span.mainHeader__nav__title {
	color: #ffffff;

}

/*--Search Box--*/
header.mainHeader aside.mainHeader__search {
	margin-right: 2%;
	float: right;
}

header.mainHeader aside.mainHeader__search select.mainHeader__search__select {
	padding: 1.4px 10px;
	font-weight: 800;
	text-transform: capitalize;
}

header.mainHeader aside.mainHeader__search select.mainHeader__search__select option.mainHeader__search__select__item {
	font-style: italic;
}

header.mainHeader aside.mainHeader__search select.mainHeader__search__select,
header.mainHeader aside.mainHeader__search div.mainHeader__search__box {
	float: left;
}

header.mainHeader aside.mainHeader__search div.mainHeader__search__box {
	position: relative;
	margin-left: 2px;
}

header.mainHeader aside.mainHeader__search div.mainHeader__search__box input.mainHeader__search__box__input {
	padding: 0 26px 0 8px;
	line-height: 20px
}

header.mainHeader aside.mainHeader__search div.mainHeader__search__box img.mainHeader__search__box__image{
	position: absolute;
	width: 20px;
	top: 2px;
	right: 3px;
	cursor: pointer;
}

/*Blogs Section*/
section.blogs {
	margin-top: 110px;
	padding: 0 2% 200px 2%; 
	text-align: center;
	overflow: hidden;
}

section.blogs div.blogs__container {
	position: relative;
	overflow: hidden;
    margin: 0 auto;
    max-width: 1240px;
}

section.blogs div.blogs__container div.blogs__container__blog{
	width: 32%;
	margin:0 2% 2% 0;
	float: left;
}

section.blogs div.blogs__container div.blogs__container__blog:nth-child(3n+3) {
	margin-right: 0;
}

section.blogs div.blogs__container div.blogs__container__blog a.blogs__container__blog__head {
	border-width: 1px 0 1px 0;
	border-color: #000 transparent #000 transparent;
	border-style: solid;
	display: block;
	max-height: 200px;
	overflow: hidden;
}

section.blogs div.blogs__container div.blogs__container__blog a.blogs__container__blog__head img.blogs__container__blog__head__image {
	width: 100%;
}

section.blogs div.blogs__container div.blogs__container__blog div.blogs__container__blog__info {
	margin-top: 2%;
}

section.blogs div.blogs__container div.blogs__container__blog div.blogs__container__blog__info p.blogs__container__blog__info__copy {
	margin-bottom: 4%;
	padding: 0 4px;
	text-align: justify;
}

section.blogs div.blogs__container div.blogs__container__blog div.blogs__container__blog__info a.blogs__container__blog__info__link {
	display: block;
	font-style: italic;
	text-align: right;
	color: #bd6462;
}

section.blogs div.blogs__container p.blogs__container__msg {
	font-size: .8em;
	line-height: 20px;
	font-style: italic;
}

section.blogs div.blogs__container span.blogs__container__loader {
	display: block;
	width: 15px;
	height: 15px; 
	margin: 0 auto;
	background-image: url("../images/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

}

footer.mainFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	display: inline-block;
	padding: 1% 0;
	margin-top: 2%;
	width: 100%;
}

footer.mainFooter a.mainFooter__goToTop {
	display: none;
	float: right;
	margin-right: 2%;
	cursor: pointer;
}